@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Light Theme */
:root {
    --bg-color--: white;
    --bg-color-secondary--: #fbfbfb;
    --text-color--: #d0af4a;
    --primary-color: #ffd000;
}

/* Detect Dark Theme */

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color--: rgb(19, 19, 19);
        --bg-color-secondary--: rgb(23, 23, 23);
        --text-color--: #d0af4a;
        --primary-color: #ffd000;
    }

    .hi {
        text-shadow: 2px 2px 20px var(--text-color--);
    }

    .profile-img {
        filter: invert(1);
    }
}

.separator {
    color: var(--text-color--);
}

* {
    box-sizing: border-box;
}

html{
    font-family: 'Google Sans';
    margin: 0;
    background-color: var(--bg-color--);
    scroll-behavior: smooth;
}

.navbar{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: rgba(44, 44, 44, 0, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1pc;
    height: 0 auto;
    width: 100%;
}

.menu{
    gap: 25px;
    color: black;
    list-style: none;
    display: flex;
    text-align: center;
}

.menu a{
    color: var(--text-color--);
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
}

.kotak {
    padding: 40px 40px 0px 40px;
    flex-wrap: wrap;
    background-color: var(--bg-color--);
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex; 
    align-items: flex-start; 
    justify-content: center;
}

.content-wrapper {
    margin-bottom: 25vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 0vh;   
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container, .text-group {
    flex: 1;
    height: 88vh;
    padding: 0;
}

.profile-img {
    filter: invert(65%) sepia(37%) saturate(1588%) hue-rotate(10deg) brightness(95%) contrast(85%);
  -webkit-filter: invert(65%) sepia(37%) saturate(1588%) hue-rotate(10deg) brightness(95%) contrast(85%);
    width: 450px;
    height: auto;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    -webkit-touch-callout: none;
    user-select: none;
    margin-right: 10vh;
}

.text-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hi {
    color: var(--text-color--);
    font-size: 8vh;
    font-weight: 700;
    margin: 0;
}

.desc {
    color: var(--text-color--);
    font-size: 20px;
    margin: 0;
}

.about {
    margin-top: 50px;
    background-color: #f0f0f0;
    height: auto;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#books {
    scroll-margin-top: 15vh;
}

#about{
    scroll-margin-top: 10vh;
}


.info-tambahan {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;       
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 1pc;
}

.my-books { /* Judul My Books */
    width: 100%;
    color: var(--text-color--);
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    margin-top: 10vh;
    margin-bottom: 25px;
}

.card {
    height: auto;
    min-height: 300px;
    flex: 1;        
    min-width: 300px;
    background: var(--bg-color-secondary--);
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}

.card:hover {
    transform: translate(0px, -10px);
}


.judul-buku {
    font-size: 20px;
    color: var(--text-color--);
    text-align: center;
}

.writer {
    font-weight: 900;
}

.book-desc {
    font-weight: 200;
    line-height: 2;
}

.book-cover {
    width: 150px;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    pointer-events: none;
    user-select: none;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--text-color--);
    text-align: center;
}


@media (max-width: 600px) {

    .text-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

    .my-books {
        margin-top: 15vh;
        font-size: 4vh;
    }

    .judul-contact {
        font-size: 4vh;
    }

    .profile-img {
        margin-right: 0vh;
        width: 300px;
    }

    .navbar {
        transform: translate(-25px);
    }

    .hi {
        font-size: 45px;
    }

    .desc {
        font-size: 3vh;
    }

    .content-wrapper {
        margin-top: 10vh;
        flex-direction: row;
    }
}

.kotak-contact{
    background-color: var(--bg-color--);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    margin: 0;
    scroll-margin-top: 5vh;
    min-height: 30vh;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: 100px;
}

.desc-contact {
    color: var(--text-color--);
    
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.judul-contact{
    color: var(--text-color--);
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    margin-top: 40px;
}


.contact {
    color: var(--text-color--);
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.contact a{
    font-size: 30px;
    color: var(--text-color--);
    transition: 0.3s;
}

.contact a:hover{
    transform: translateY(-3px);
}